* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  color: #b0b4bc;
  padding: 10px 10px 0 10px;
}

.workspaces, .time, .helpers {
	background-color: #4A4A4A;
	padding: 0.50rem;
	border-radius: 10px;
}

.helpers {
	padding: 0.50rem 1rem;
}

.button {
	font-size: 1.5rem;
}

scale trough {
  all: unset;
  background-color: #0f0f0f;
  border-radius: 10px;
  min-height: 10px;
  min-width: 100px;
  margin: 0px 10px 0px 0px;
}

// The workspaces module
.active_workspace {
	border-radius: 1rem;
	background-color: #D35D6E;
}

.workspaces button:active {
  color: #D35D6E;
}


.workspaces button:hover {
  color: #D35D6E;
}

.volume_scale trough highlight, .brightness_scale trough highlight {
	background-color: #D35D6E;
	border-radius: 10px;
}

// battery
.charging {
	color: blue;
}

.full {
	color: green;
}

.one {
	color: #eb4034;
}

.two {
	color: #eb8c34;
}

.three {
	color: #ebd234;
}

.four {
	color: #b0eb34;
}

.five {
	color: #34eb3d;
}

.six {
	color: #34eb9e;
}

// Ram
.ram_progress {
	color: #D35D6E;
}

// Network
.inet_box {
	font-size: 1rem;
}
